.App {
  text-align: center;
  background-image:
    linear-gradient(
      to right, 
      red, #f06d06
    );
  height: 100%;
  overflow: scroll;
}

@media only screen and (min-width: 720px) {
  .row-children {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 10px;
  }
}

.container {
  height: 100%;
}

.tab {
  height: 100%;
}

.footer {
  top: auto;
  bottom: 0;
  position: absolute !important;
}

.media-card {
  margin: 20px;
}

.link {
  margin: 15px;
}

.horizontal-center {
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container > span {
  margin-right: 40px;
  font-size: 16px;
}

.container > span > a {
  color: #fff;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
